<!DOCTYPE html>
<html lang="en">

<html>
    <head>
        
        <link rel="stylesheet" href="style.css">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{{ description }}">
        <meta name="author" content="{{ author }}">
        <link rel="icon" href="../icon.png">
      
    </head>

    <body>

        <div class="content"> 
            <hr>

            <ul class="nav">
                <li> <a href="../index.html">Home</a> </li>
                <li> <a href="about.html">About</a> </li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="projects.html">Projects</a></li>
              </ul>
    
            <hr>
    
            <!-- <div> <h1> {{ heading }} </h1>  </div> -->
    
            <!-- <hr> -->
            
            <div class="text"> {{ article }} </div> 
            
        </div>

    </body>
</html>