
h1 {
    text-align: center;
    color: black;
}

body .text {
    font-size: 17px;
    text-align: justify;
    text-justify: inter-word;

}

body {
    background-color: darkslategray;
    width: 1000px;
    margin: 0 auto;
    border: 10px solid #999;

    /* padding: 10px 10px; */
}


body .content {
    background: white;
    padding: 10px 15px;
}


/* .navbar {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid black;
    background-color: lightgray;
} */

blockquote code {
    background-color: white;
}


blockquote {
    color: darkslateblue;
    font-style: italic;
    border: 0.5px dotted #999;
    padding: 5px 15px;
}

pre code {
    align-self: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 5px 5px;
  }

  
code {
    background-color: #eee;
}


ul.nav {
    margin:0;
    padding:0;
    list-style:none;
    height:36px; line-height:36px;
    background: darkgray; /* you can change the backgorund color here. */
    font-family:Arial, Helvetica, sans-serif;
    font-size:24px;
}

ul.nav li {
    border-right:1px solid black; /* you can change the border color matching to your background color */
    float:left;
}

ul.nav a {
    display:block;
    padding:0 28px;
    color:white;
    text-decoration:none;
}

ul.nav a:hover,
ul.nav li.current a {
    background:#086754;
}

li a.active {
    color: white;
    background:#086754;
}




ul.blog {
    list-style:none;
    writing-mode: horizontal-tb;
    padding: 0px 25px;
    /* border: 0.25px solid black; */
}


ul.blog li:not(:last-child) {
    margin-bottom: 15px;  
}

ul.blog li {
    border:1px solid black;
    float:none;
    padding: 15px 25px;
    /* margin-bottom: -15px;   */
    font-size: 15px;
}



ul.blog a {
    display:block;
    padding:0px 0px;
    color:black;
    text-decoration:none;
    font-size:24px;
}

ul.blog a:hover,
ul.blog li:hover {
    background:#086754;
    color: white;
}




