
h1 {
    text-align: center;
    color: black;
}

body .text {
    font-size: 1.25vw;
    text-align: justify;
    text-justify: inter-word;

}

body {
    background-color: darkslategray;
    width: 85vw;
    margin: 0vw auto;
    border: 0.5vw solid #999;

    /* padding: 10px 10px; */
}


body .content {
    background: white;
    padding: 1vw 5vh;
}


/* .navbar {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid black;
    background-color: lightgray;
} */

blockquote code {
    background-color: white;
}


blockquote {
    color: darkslateblue;
    font-style: italic;
    border: 0.15vw dotted #999;
    padding: 1vw 2vw;
}

pre code {
    align-self: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #eee;
    border: .25vw solid #999;
    display: block;
    padding: 1vw 1vw;
  }

  
code {
    background-color: #eee;
}


ul.nav {
    margin:0;
    padding:0;
    list-style:none;
    height:2vw; line-height:2vw;
    background: darkgray; /* you can change the backgorund color here. */
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.5vw;
}

ul.nav li {
    border-right:0.05vw solid black; /* you can change the border color matching to your background color */
    float:left;
}

ul.nav a {
    display:block;
    padding:0vw 1vw;
    color:white;
    text-decoration:none;
}

ul.nav a:hover,
ul.nav li.current a {
    background:#086754;
}

li a.active {
    color: white;
    background:#086754;
}



ul.blog {
    list-style:none;
    writing-mode: horizontal-tb;
    padding: 0vw 0.0vw;
    /* border: 0.25px solid black; */
}


ul.blog li:not(:last-child) {
    margin-bottom: 1.5vh;  
}

ul.blog li {
    border:0.1vw solid black;
    float:none;
    padding: 1vw 1vw;
    /* margin-bottom: -15px;   */
    font-size: 1vw;
}



ul.blog a {
    display:block;
    padding:0vw 0vw;
    color:black;
    text-decoration:none;
    font-size:1.5vw;
}

ul.blog a:hover,
ul.blog li:hover {
    background:#086754;
    color: white;
}

pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: #eee; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.hll { background-color: #ffffcc }
.c { color: #3D7B7B; font-style: italic } /* Comment */
.err { border: 1px solid #FF0000 } /* Error */
.k { color: #008000; font-weight: bold } /* Keyword */
.o { color: #666666 } /* Operator */
.ch { color: #3D7B7B; font-style: italic } /* Comment.Hashbang */
.cm { color: #3D7B7B; font-style: italic } /* Comment.Multiline */
.cp { color: #9C6500 } /* Comment.Preproc */
.cpf { color: #3D7B7B; font-style: italic } /* Comment.PreprocFile */
.c1 { color: #3D7B7B; font-style: italic } /* Comment.Single */
.cs { color: #3D7B7B; font-style: italic } /* Comment.Special */
.gd { color: #A00000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #E40000 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #008400 } /* Generic.Inserted */
.go { color: #717171 } /* Generic.Output */
.gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #0044DD } /* Generic.Traceback */
.kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.kp { color: #008000 } /* Keyword.Pseudo */
.kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.kt { color: #B00040 } /* Keyword.Type */
.m { color: #666666 } /* Literal.Number */
.s { color: #BA2121 } /* Literal.String */
.na { color: #687822 } /* Name.Attribute */
.nb { color: #008000 } /* Name.Builtin */
.nc { color: #0000FF; font-weight: bold } /* Name.Class */
.no { color: #880000 } /* Name.Constant */
.nd { color: #AA22FF } /* Name.Decorator */
.ni { color: #717171; font-weight: bold } /* Name.Entity */
.ne { color: #CB3F38; font-weight: bold } /* Name.Exception */
.nf { color: #0000FF } /* Name.Function */
.nl { color: #767600 } /* Name.Label */
.nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.nt { color: #008000; font-weight: bold } /* Name.Tag */
.nv { color: #19177C } /* Name.Variable */
.ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mb { color: #666666 } /* Literal.Number.Bin */
.mf { color: #666666 } /* Literal.Number.Float */
.mh { color: #666666 } /* Literal.Number.Hex */
.mi { color: #666666 } /* Literal.Number.Integer */
.mo { color: #666666 } /* Literal.Number.Oct */
.sa { color: #BA2121 } /* Literal.String.Affix */
.sb { color: #BA2121 } /* Literal.String.Backtick */
.sc { color: #BA2121 } /* Literal.String.Char */
.dl { color: #BA2121 } /* Literal.String.Delimiter */
.sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.s2 { color: #BA2121 } /* Literal.String.Double */
.se { color: #AA5D1F; font-weight: bold } /* Literal.String.Escape */
.sh { color: #BA2121 } /* Literal.String.Heredoc */
.si { color: #A45A77; font-weight: bold } /* Literal.String.Interpol */
.sx { color: #008000 } /* Literal.String.Other */
.sr { color: #A45A77 } /* Literal.String.Regex */
.s1 { color: #BA2121 } /* Literal.String.Single */
.ss { color: #19177C } /* Literal.String.Symbol */
.bp { color: #008000 } /* Name.Builtin.Pseudo */
.fm { color: #0000FF } /* Name.Function.Magic */
.vc { color: #19177C } /* Name.Variable.Class */
.vg { color: #19177C } /* Name.Variable.Global */
.vi { color: #19177C } /* Name.Variable.Instance */
.vm { color: #19177C } /* Name.Variable.Magic */
.il { color: #666666 } /* Literal.Number.Integer.Long */